127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

10.161.4.10     bccdhmndc01.customs.go.id
10.161.4.11     bccdhmndc02.customs.go.id
10.161.4.12     bccdhcmdc01.customs.go.id
10.161.4.13     bccdhcmdc02.customs.go.id
10.161.4.14     bccdhwndc001.customs.go.id
10.161.4.15     bccdhwndc002.customs.go.id
10.161.4.16     bccdhwndc003.customs.go.id
10.161.4.17     bccdhwndc004.customs.go.id
10.161.4.18     bccdhrepodc.customs.go.id
10.161.4.23     nifidc01.customs.go.id
10.161.4.24     nifidc02.customs.go.id
10.161.4.25     nifidc03.customs.go.id
10.161.4.26     kafkadc01.customs.go.id
10.161.4.27     kafkadc02.customs.go.id
10.161.4.28     kafkadc03.customs.go.id