127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.51.1 rafmhdnnpapp01.telkomsel.co.id rafmhdnnpapp01
192.168.51.2 rafmhdnnpapp02.telkomsel.co.id rafmhdnnpapp02
192.168.51.3 rafmhdnnpapp03.telkomsel.co.id rafmhdnnpapp03
192.168.51.4 rafmhdsnpapp01.telkomsel.co.id rafmhdsnpapp01
192.168.51.5 rafmhdsnpapp02.telkomsel.co.id rafmhdsnpapp02
192.168.51.6 rafmhdsnpapp03.telkomsel.co.id rafmhdsnpapp03
192.168.51.7 rafmhdsnpapp04.telkomsel.co.id rafmhdsnpapp04
192.168.51.8 rafmhdsnpapp05.telkomsel.co.id rafmhdsnpapp05
192.168.51.9 rafmhdsnpapp06.telkomsel.co.id rafmhdsnpapp06
192.168.51.10 rafmhdsnpapp07.telkomsel.co.id rafmhdsnpapp07
192.168.51.11 rafmhdsnpapp08.telkomsel.co.id rafmhdsnpapp08
192.168.51.12 rafmhdsnpapp09.telkomsel.co.id rafmhdsnpapp09
192.168.51.13 rafmhdsnpapp10.telkomsel.co.id rafmhdsnpapp10
192.168.51.14 rafmhdsnpapp11.telkomsel.co.id rafmhdsnpapp11
192.168.51.15 rafmhdsnpapp12.telkomsel.co.id rafmhdsnpapp12
192.168.51.16 rafmhdsnpapp13.telkomsel.co.id rafmhdsnpapp13
192.168.51.17 rafmhdsnpapp14.telkomsel.co.id rafmhdsnpapp14
192.168.51.18 rafmhdsnpapp15.telkomsel.co.id rafmhdsnpapp15
192.168.51.19 rafmhdsnpapp16.telkomsel.co.id rafmhdsnpapp16
192.168.51.20 rafmhdsnpapp17.telkomsel.co.id rafmhdsnpapp17
192.168.51.21 rafmhdsnpapp18.telkomsel.co.id rafmhdsnpapp18
192.168.51.22 rafmhdsnpapp19.telkomsel.co.id rafmhdsnpapp19
192.168.51.23 rafmhdsnpapp20.telkomsel.co.id rafmhdsnpapp20
192.168.51.24 rafmhdsnpapp21.telkomsel.co.id rafmhdsnpapp21
192.168.51.25 rafmhdsnpapp22.telkomsel.co.id rafmhdsnpapp22
192.168.51.26 rafmhdsnpapp23.telkomsel.co.id rafmhdsnpapp23
192.168.51.27 rafmhdsnpapp24.telkomsel.co.id rafmhdsnpapp24
192.168.51.28 rafmhdsnpapp25.telkomsel.co.id rafmhdsnpapp25
192.168.51.29 rafmhdsnpapp26.telkomsel.co.id rafmhdsnpapp26
192.168.51.30 rafmhdsnpapp27.telkomsel.co.id rafmhdsnpapp27
192.168.51.31 rafmhdsnpapp28.telkomsel.co.id rafmhdsnpapp28
192.168.51.32 rafmhdsnpapp29.telkomsel.co.id rafmhdsnpapp29
192.168.51.33 rafmhdsnpapp30.telkomsel.co.id rafmhdsnpapp30
192.168.51.34 rafmhdsnpapp31.telkomsel.co.id rafmhdsnpapp31
192.168.51.35 rafmhdsnpapp32.telkomsel.co.id rafmhdsnpapp32
192.168.51.36 rafmhdsnpapp33.telkomsel.co.id rafmhdsnpapp33
192.168.51.37 rafmhdsnpapp34.telkomsel.co.id rafmhdsnpapp34
192.168.51.38 rafmhdsnpapp35.telkomsel.co.id rafmhdsnpapp35
192.168.51.39 rafmhdsnpapp36.telkomsel.co.id rafmhdsnpapp36
192.168.51.40 rafmhdsnpapp37.telkomsel.co.id rafmhdsnpapp37
192.168.51.41 rafmhdsnpapp38.telkomsel.co.id rafmhdsnpapp38
192.168.51.42 rafmhdsnpapp39.telkomsel.co.id rafmhdsnpapp39
192.168.51.43 rafmhdsnpapp40.telkomsel.co.id rafmhdsnpapp40
192.168.51.44 rafmhdsnpapp41.telkomsel.co.id rafmhdsnpapp41
192.168.51.45 rafmhdsnpapp42.telkomsel.co.id rafmhdsnpapp42
192.168.51.46 rafmhdsnpapp43.telkomsel.co.id rafmhdsnpapp43
192.168.51.47 rafmhdsnpapp44.telkomsel.co.id rafmhdsnpapp44
192.168.51.48 rafmhdsnpapp45.telkomsel.co.id rafmhdsnpapp45
192.168.51.49 rafmhdcnpapp01.telkomsel.co.id rafmhdcnpapp01
192.168.51.50 rafmhdcnpapp02.telkomsel.co.id rafmhdcnpapp02
192.168.51.51 rafmhdcnpapp03.telkomsel.co.id rafmhdcnpapp03
192.168.51.52 rafmhdcnpapp04.telkomsel.co.id rafmhdcnpapp04
192.168.51.53 rafmhdcnpapp05.telkomsel.co.id rafmhdcnpapp05
192.168.51.54 rafmhdcnpapp06.telkomsel.co.id rafmhdcnpapp06
192.168.51.55 rafmhdcnpapp07.telkomsel.co.id rafmhdcnpapp07
192.168.51.56 rafmhdcnpapp08.telkomsel.co.id rafmhdcnpapp08
192.168.51.57 rafmhdcnpapp09.telkomsel.co.id rafmhdcnpapp09
192.168.51.58 rafmhdcnpapp10.telkomsel.co.id rafmhdcnpapp10
192.168.51.59 rafmhdcnpapp11.telkomsel.co.id rafmhdcnpapp11
192.168.51.60 rafmhdcnpapp12.telkomsel.co.id rafmhdcnpapp12
192.168.51.61 rafmhdcnpapp13.telkomsel.co.id rafmhdcnpapp13
192.168.51.62 rafmhdcnpapp14.telkomsel.co.id rafmhdcnpapp14