127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.55.1 rafmhdnndapp01.telkomsel.co.id rafmhdnndapp01
192.168.55.2 rafmhdnndapp02.telkomsel.co.id rafmhdnndapp02
192.168.55.3 rafmhdsndapp01.telkomsel.co.id rafmhdsndapp01
192.168.55.4 rafmhdsndapp02.telkomsel.co.id rafmhdsndapp02
192.168.55.5 rafmhdsndapp03.telkomsel.co.id rafmhdsndapp03
192.168.55.6 rafmhdsndapp04.telkomsel.co.id rafmhdsndapp04
192.168.55.7 rafmhdsndapp05.telkomsel.co.id rafmhdsndapp05
192.168.55.8 rafmhdsndapp06.telkomsel.co.id rafmhdsndapp06
192.168.55.9 rafmhdcndapp01.telkomsel.co.id rafmhdcndapp01
192.168.55.10 rafmhdcndapp02.telkomsel.co.id rafmhdcndapp02
192.168.55.11 rafmhdcndapp03.telkomsel.co.id rafmhdcndapp03
192.168.55.12 rafmhdcndapp04.telkomsel.co.id rafmhdcndapp04